<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>App Monitor</string>
	<key>CFBundleDisplayName</key>
	<string>App Monitor</string>
	<key>CFBundleIdentifier</key>
	<string>com.leonardomanrique.AppMonitor</string>
	<key>CFBundleVersion</key>
	<string>{{VERSION}}</string>
	<key>CFBundleShortVersionString</key>
	<string>{{VERSION}}</string>
	<key>CFBundleExecutable</key>
	<string>activity-monitor</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Leonardo Manrique. MIT licensed.</string>
</dict>
</plist>
